* {
    box-sizing: border-box;
    font-family: Nunito, Century Gothic;
}

body {
    background: #fff;
}

h1 {
    text-align: center;
    font-family: Nunito, Bookman Old Style;
}

label {
    padding: 10px 0 6px 0;
    display: block;
}

input[type=text] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    resize: vertical;
}

    input:focus{
        border: 1px solid #1aa;
        color: #222;
    }

    ::placeholder {
       color: #333;
    }

.btn {
    background: #1c4;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
    width: 50%;
    padding: 8px 25px;
    margin: 10px 0;
    font-size: 16px;
}

    .btn:hover {
        /* background: #ea1; */
        background: #1a4;
    }

.btn-eliminar, .btn-editar, .btn-ver {
    padding: 4px 10px;
    font-size: 12px;
    width: 100%;
    margin: auto;
}

.btn-editar {
    background: #1cc;
}

.btn-editar:hover {
    background: #1aa;
}

.btn-eliminar {
    background: #e22;
}

.btn-eliminar:hover {
    background: #c22;
}

.btn-limpiar {
    font-size: 12px;
    background: transparent;
    color: #aaa;
    border: 1px solid #aaa;
}

    .btn-limpiar:hover {
        background: #aaa;
        border: 1px solid #aaa;
        color: #fff;
    }

.contenedor {
    background: #eee;
    width: 55%;
    margin: 50px auto;
    padding: 10px 20px;
    box-shadow: 1px 1px 10px 0 #ccc;
    text-align: center;
}

.lista {
    margin: auto;
    width: 85%;
}

.lead {
    font-weight: 700;
}


